.navbar {
    border-radius: 0px;
    background-color: rgba(23, 23, 50, 07);
}

.navbar {
    border-radius: 0px;
}

.navbar-brand {
    padding: 0px 15px;
    display: inline-block;
    line-height: 50px;
}

.navbar-brand>img {
    padding: 0px 0px 5px;
    height: 50px;
}

.v-result>div {
    float: left;
    margin-right: 10px;
}

.v-name {
    color: #ff6000;
    font-size: 18px;
    padding-right: 10px;
}

.v-img-wrapper {
    border: 1px solid #ccc;
}